{% extends "base" %}

{% block content %}
    <h1>Hi {{ name }} (user ID {{ user_id }})!</h1>
    <h3>Here are your items:</h3>
    <ul>
        {% for s in items %}
            <li><h6>{{ s.timestamp }} {{ s.title }}</h6>
		{{ s.content }}
	    </li>
        {% endfor %}
    </ul>

{% endblock content %}
